.navbar-light .navbar-nav .nav-link {
    color: black;
}

header {
    background-color: white;
    margin-bottom: 1%;
}

#right {
    margin-left: auto!important;
    margin-right: 2%;
}

body {
    background-color: lightgray;
}

a { color: inherit; 
    text-decoration: none;
} 

.navbar {
    padding: 0%;
}

h1 {
    color:white;
    background-color: rgb(81, 183, 214);
    border-radius: 3px;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 200%;
    margin-left: 10px;    
    margin-bottom: 0%;
}

#info {
    background-color: white;
    margin-left: 7%;
    margin-top: 40px;
}

hr {
    margin-top: 0%;
    margin-bottom: 10%;
}


#info img {
    float: left;
}

h2 {
    color: rgb(81, 183, 214);
    padding-top: 5%;
    padding-bottom: 5%;
}



#visualizations {
    background-color: white;
    float: right;
    margin-left: 10px;
    margin-top: 40px;
}

#img_box {
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
}

#comparison_container hr {
    margin-bottom: 3%;
}

#comp_info {
    background-color: white;
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
}

p {
    font-size: 90%;
}

h3 {
    font-size: 115%;
    margin-left: 30%;
    margin-right: auto;
    color: rgb(81, 183, 214);
}

#comp_info .row {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 4px;
}

#comp_info .column {
    flex: 50%;
    max-width: 50%;
}

#comp_info .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#vis_fig {
    max-width: 100%;
}

/*---Media Queries --*/
@media (max-width: 992px) {
   
}
@media (max-width: 768px) {
    #info, #comp_info{
        margin-left: 0px;
        margin-top: 0px;
    }
    header {
        background-color: rgb(81, 183, 214);
        margin-bottom: 0%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    #visualizations {
        margin-left: 0%;
        margin-top: 0%;
    }
    #comparison_container {
        padding-left: 0%;
        padding-right: 0%;
    }
    #comp_info .column {
        flex: 100%;
        max-width: 100%;
    }
}
@media (max-width: 576) {
    #info, #comp_info{
        margin-left: 0px;
        margin-top: 0px;
    }
    #visualizations {
        margin-left: 0%;
        margin-top: 0%;
    }
    #comparison_container {
        padding-left: 0%;
        padding-right: 0%;
    }
    #comp_info .column {
        flex: 100%;
        max-width: 100%;
    }
}

